<!DOCTYPE html>
<html lang="en" xmlns="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Bandcamp Explorer</title>
    <!--- import libraries --->
    <!--- bootstrap --->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--- vue js --->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>

</head>

<style>
    .card-img-top {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }

    .container {
        margin-top: 200px;
    }

    .card-body {
        padding-left: 0;
    }
</style>

<body>
    <div id="app">
        <!-- <nav class="navbar fixed-top navbar-dark bg-dark"> -->
            <!-- Navbar content -->
            <!-- <a class="navbar-brand text-light">Authors</a> -->
            <!-- <form class="form-inline"> -->
                <!-- <input class="form-control mr-sm-2" placeholder="Search" v-model="search"> -->
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" @click="filterAuthors">Search</button> -->
            <!-- </form> -->
        <!-- </nav>  -->

        <div class="label_enter">
            <input class="form-control mr-sm-2" placeholder="Label Name" v-model="enter_label_name">
            <input class="form-control mr-sm-2" placeholder="Label URL" v-model="enter_label_url">
            <button class="btn btn-outline-success my-2 my-sm-0" @click="addLabelURL">Add Label</button>
        </div>

        <div class="container">
            <label-releases label_name="SVBKVLT"></label-releases>
            <label-releases label_name="GD4YA"></label-releases>
        </div>
    </div>
</body>

<script>
    Vue.component('label-releases', {
        props: ['label_name'],
        data() {
            return {
                releases: [],
            }
        },
        async created() {
            const url = "http://127.0.0.1:5000/labels?label_name=" + this.label_name + "&album_num=10"
            
            fetch(url, { credentials: 'same-origin' })
            .then((response) => {
                if (!response.ok) throw Error(response.statusText);
                return response.json();
            })
            .then((data) => {
                this.releases = data;
            })
            .catch((error) => console.log(error));
        },
        template: `
            <div class="row">
                <div class="col-auto" v-for="release, idx in releases" :key="idx">
                    <release-card
                        :key="release.album_name"
                        :url="release.album_url"
                        :artist="release.artist_name"
                        :cover="release.cover_img_url"
                        :title="release.album_name"
                    >
                    </release-card>
                </div>
            </div>   
        `
    });

    Vue.component('release-card', {
        props: ['url', 'artist', 'cover', 'title'],
        data(){
            return { 
            }
        },
        methods:{
        },
        template: `
            <a :href="url">
                <img class="img-fluid" :src="cover" alt="Cover image cap">
                <div class="card-body">
                    <h5 class="card-title">{{artist}}</h5>
                    <p>{{title}}</p>
                </div>
            </a>
        `
    });

    new Vue({
        el: '#app',
        // async created() {
            // const url = "http://127.0.0.1:5000/"
            // const response = await fetch(url)
            // const data = await response.json()
            // this.releases = data;
        // },
        data() {
            return {
                enter_label_name: "",
                enter_label_url: "",
            }
        },
        methods: {
            addLabelURL() {
                console.log("Adding label " + this.enter_label_name + " and url " + this.enter_label_url);
                const url = "http://127.0.0.1:5000/labels/"
                fetch(url, {
                    method: 'POST',
                    headers: new Headers({
                        'Content-Type': 'application/json',
                    }),
                    body: JSON.stringify(
                        {
                            label_name: this.enter_label_name,
                            label_url: this.enter_label_url,
                        },
                    ),
                    }).then(
                        (response) => {
                            if (!response.ok) throw Error(response.statusText);
                            return response.json();
                        },
                    ).then((data) => {},
                    ).catch((error) => console.log(error));

                this.enter_label_name = "";
                this.enter_label_url = "";
            },
        }
    })
</script>

</html>